textarea {
    width: 10vw;
    height: 15vh;
    /* max-width: 400px; */
    padding: 12px;
    border: none;
    border-radius: 12px;
    background-color: #e05c1a;
     box-shadow: 2px 2px 2px 2px black; 
    font-size: 16px;
     font-family: Arial, Helvetica, sans-serif;
     margin-top: 30px;
     margin-left: 30px;
      color:white ; 
     cursor: pointer;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    color:#e05c1a;
}
.all-tasks {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.task-order {
    display: flex;
    flex-direction: column;
}

.completed-task {
    display: flex;
    flex-direction: column;
     min-width: 700px; 
     margin-top: 20px;
}
/* .task-order:hover button{
    display: block;
}
     */